body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 20px;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: auto;
}

h1 {
    color: #9B1B30;
    text-align: center;
}

h2 {
    color: #9B1B30;
}

h3 {
    color: #333;
}

p {
    margin-bottom: 10px;
}

ul {
    margin-left: 20px;
}

a#login-link {
    display: block;
    margin-bottom: 20px;
    color: #9B1B30;
    text-decoration: none;
}

a#login-link:hover {
    text-decoration: underline;
}