* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #F5F5DC;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: white;
    border-radius: 10px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
    padding: 40px 20px;
    width: 400px;
}

#utente {
    margin-top: 55em;
}

#pt {
    margin-top: 30em;
}

h2 {
    text-align: center;
    color: #9B1B30;
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    margin-top: 10px;
    display: block;
}

input, select, textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s;
}

input:focus, select:focus, textarea:focus {
    border-color: #9B1B30;
    outline: none;
}

button {
    background-color: #9B1B30;
    color: white; 
    border: none; 
    padding: 10px;
    border-radius: 5px; 
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #6D1B30;
}

.footer {
    text-align: center;
    margin-top: 20px;
    color: #777;
}

.footer a {
    color: #9B1B30;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

.warning {
    color: red;
    font-weight: bold;
}