body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #F5F5DC;
}

.message-container {
    text-align: center;
    background-color: #ffffff;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #9B1B30;
    font-size: 2em;
}

p {
    font-size: 1.2em;
    color: #333;
}

a {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #9B1B30;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

a:hover {
    background-color: #6D1B30;
}